*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #333;
    width: 100%;
    height: 100%;
}

.img:nth-child(2){
  background-image: url(/img/amacalola.jpg);
  background-size: cover;
  background-position: center;
}
.img:nth-child(1){
  background-image: url(/img/brighton.jpg);
  background-size: cover;
  background-position: center;
}
.img:nth-child(3){
  background-image: url(/img/cinecamera.jpg);
  background-size: cover;
  background-position: center;
}
.img:nth-child(4){
  background-image: url(/img/Piccadilly\ 01.jpg);
  background-size: cover;
  background-position: center;
}
.img:nth-child(5){
  background-image:url(/img/forest.jpg);
  background-size: cover;
  background-position: center;
}
.img:nth-child(1),.img:nth-child(5){
    width: 70px;
    height: 500px;
    border-radius: 50px;
}
.img:nth-child(even){
    width: 70px;
    height: 600px;
    border-radius: 50px;
}
.img:nth-child(3){
    width: 70px;
    height: 500px;
    border-radius: 50px;
}
.img:hover{
    width: 250px;
    height: 320px;
    border-radius: 0px;
    transition: 0.2s ease-in-out;
}