.nav a{
    position: relative;
    width: max-content;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.nav li{
    list-style: none;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav a::after{
    content: "";
    position: absolute;
    display: block;
    width: 0%;
    height: 3px;
    background:linear-gradient(to right,red,blue);
     border-radius: 20%;
     background-color: black;
    bottom: 0;
    right: 0;
    transition: width 0.5s ease;
}
.nav a::before{
    content: "";
    position: absolute;
    display: block;
    width: 0%;
    height: 3px;
    background:linear-gradient(to right,red,blue);
    top:0;
    right: 0;
    transition: width 0.75s ease;
    border-radius: 20%;
}
.nav a:hover::after{
    bottom: -5px;
    width: 100%;
}
.nav a:hover::before{
    top: -5px;
    width: 100%;
}