*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: relative;
    max-width: 90%;
    display: flex;
    margin: auto;
    justify-content: flex-start;
    align-items:center;
}
.logo{
    font-weight: bold;
    margin-left: 10%;
}
.navbar{
    display: flex;
    gap: 10px;
    list-style: none;
    margin-left: 60%;
    font-weight: bold;
    font-size: 1.1em;
}
.card{
    position: absolute;
    left: 20%;
    height: 250px;
    padding: auto;
    display: flex;
    gap: 20px;
}
.img{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
}
.card .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8em;
}
.card .img.active{
    filter: brightness(1.5);
}