@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
img{
    width: 100%;
}
.about-content{
    margin: 0 auto;
    padding: 20px 0;
}
.about-title::after{
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    margin: 10px auto 0;
    background-color: #f3961c;
}
.about-title{
    text-align: center;
    padding: 60px 0px 100px;
}
      /*Header/Navbar*/
header{
    position: fixed;
    width: 100%;
    background-color: #3b141c;
    z-index: 100;
}
.logo{
    margin-top: 20px;
    margin-left: 20px;
}
.logo a{
    text-decoration: none;
    color: white;
}
.logo a h2{
    font-weight: bold;
    font-size: 2em;
}
nav{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    margin-top: 7px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
    border-radius: 100px;
    padding: 5px 15px;
    transition: 0.3s ease-in;
}
nav ul li a:hover{
    background: #f3961c;
}
 nav :where(#menu-close-button,#menu-open-button){
    opacity: 0;
 }
/*Hero-Section*/
.hero{
    min-height: 100vh;
   background-color: #3b141c;
}
.hero .content{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    color: #ffff;
}
.hero .main-content{
    padding: 15px 10px;
    margin: 25px;
    font-weight: bold;
}
.hero .main-content .title{
    font-family: "Miniver", cursive;
    font-size: 2em;
    font-weight: bold;
    color: #f3961c;
}
.hero .main-content .subtitle{
    font-weight: bolder;
    margin-bottom: 10px;
    max-width: 70%;
}
.hero .main-content .description{
    max-width: 70%;
    font-weight: bold;
    margin-bottom: 20px;
}
.content .buttons{
    display: flex;
    gap: 20px;
}
.content .buttons a{
    text-decoration: none;
    color: black;
    background-color: #f3961c;
    padding: 7px 16px 7px 16px;
    border-radius: 150px;
    font-weight: 100;
    border: 2px solid white;
    transition: 0.2s ease-in-out;
}
.content .buttons .ordernow{
    border: 2px solid #3b141c;
}
.content .buttons .ordernow:hover{
    border: 2px solid white;
    background-color: transparent;
    font-weight: bold;
    color: white;
}
.content .buttons .Contact{
    background-color: transparent;
    font-weight: bold;
    color: white;
}
.content .buttons .Contact:hover{
    background-color: #f3961c;
    color: black;
    font-weight: 100;
    border: 2px solid #3b141c;
}

.content .image-wrapper{
    max-width: 500px;
    margin-right: 30px;
}
/*Responsive Navbar*/
#close{
    padding: 5px;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 1.5em;
    transition: 0.2s ease;
    border-radius: 50%;
}
#close:hover{
    background-color: hsla(0, 0%, 0%, 0.767);
}
/*Responsive About Section*/
.About-section{
    padding: 120px 0;
    background-color: #ffe4e8;
}

.about-content{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.about-imagewrapper .about-image{
   max-width: 500px;
   max-height: 500px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0px 20px 0px 20px;
}
.about-content .about-details .about-title{
    padding: 0;
}
.about-details .text{
    font-weight: bold;
}
.about-content .about-details .text{
    margin: 0;
    line-height: 30px;
    text-align: center;
    margin: 50px 20px 30px;
}
/*Responsive Design*/
@media screen and (max-width:900px){
    /*Responsive Navbar*/
    nav :where(#menu-close-button,#menu-open-button){
        opacity: 1;
        display: block;
        font-size: 1.3rem;
        background-color: transparent;
        border: none;
        font-weight: bolder;
    }
    nav #menu-close-button{
        position: absolute;
        left: 85.5%;
        top: 30px;
    }
    nav #menu-open-button{
        position: absolute;
        right: 10%;
        bottom: 10px;
        color: white;
        font-size: 1.5rem;
    }

    nav ul {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
       /* padding-top: 200px;*/
        color: black;
        font-weight: bold;
        font-family: "Roboto";
        transition: left 0.2s ease;
        font-size: 1.8rem;
        gap: 20px;
    }
    body.showMenu nav ul{
        left: 0;
    }

   header nav ul li a{
        display: block;
        color: black;
        margin-top: 17px;
        font-weight: bold;
        
    }
    /*Responsive Hero-Section*/
    .hero .content{
        gap: 50px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hero .main-content:is(.subtitle,.description),.About-section .about-details{
        max-width: 100%;
    }
    .hero .content .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   .content .image-wrapper{
    margin-right: 0;
    max-width: 250px;
}
/*Responsive About-Us Section*/
.About-section .about-content{
    flex-direction: column;
}
.about-details .text{
    font-weight: bold;
}
.about-imagewrapper .about-image{
    max-width: 270px;
    min-height: 270px;
    aspect-ratio: 1;
}
}