*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #002e69;
    color: #E3170A;
}
/*Header|Navbar Styling*/
nav{
    display: flex;
    justify-content: space-around;
}
nav .logo{
    margin-left: 10px;
}
.navbar a{
    color: #000;
    font-weight: bold;
    font-size: 1.3rem;
}
.navbar{
    display: flex;
    gap: 50px;
}
nav .logo{
    width: max-content;
    position: relative;
}
nav .logo::after{
    content: "";
    position: absolute;
    display: block;
    width: 0%;
    height: 3px;
    background:linear-gradient(to right,#0000ac,rgb(0, 0, 88)) ;
    border-radius:0.8em ;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease;
}
nav .logo:hover::after{
    width: 100%;
}
.navbar a{
    position: relative;
    width: max-content;
    color: #E3170A;
}
.navbar a::after{
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background: linear-gradient(to right,#bd7e00,#F7B32B);
    border-radius: 0.8em;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease;
}
.navbar a::before{
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background: linear-gradient(to right,#bd7e00,#F7B32B);
    border-radius: 0.8em;
    top: 0;
    left: 0;
    transition: width 0.5s ease;
}
.navbar a:hover::after{
    width: 100%;
}
.navbar a:hover::before{
    width: 100%;
}
nav :where(#openMenu,#closeMenu){
    opacity: 0;
}
/*Home Section Styling*/
.home-section{
    min-height: 100vh;
    background-color: #FCF6B1;
    padding: 30px;
}
.home-section .home-content{
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}
.home-content .home-details .head{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 5px;
    color: #F7B32B;
}
.home-content .home-details .subhead{
    max-width: 90%;
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 5px;
    color: #E3170A;
}
.home-content .home-details .head-description{
    max-width: 90%;
    font-size: larger;
    font-size: 1.3rem;
    margin-top: 5px;
    color: hsl(40, 93%, 57%);
}
.home-content .image-wrapper{
    max-width: 500px;
    margin-right: 30px;
}
.image-wrapper .home-image{
    max-width: 270px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1;
}
/*About Section Styling*/
.about-section{
    height: 100vh;
    background-color: #E3170A;
}
.about-section .about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    align-items: center;
}
.about-img-wrapper{
    max-width: 300px;
    height: auto;
    width: 100%;
    background: linear-gradient(225deg, rgba(255, 245, 130, 1) 0%, rgba(173, 48, 37, 1) 100%);
    border-radius: 0.8em;
    margin-top: 10%;
    margin-left: 30px;
}
.about-image{
    max-width: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.8em;
}
.about-details{
    margin-top: 30px;
    width: 50%;
    color: #002E69;
}
.about-details h2{
    font-size: 30px;
    line-height: 1.3;
}
.about-details h4{
    font-size: 24px;
    font-weight: 600px;
    line-height: 1.3;
}
.about-details p{
    font-size: 17px;
    line-height: 15px;
    text-align: justify;
    
}
@media screen and (max-width:900px){
    header{
        position: fixed;
        display: block;
        z-index: 100;
        background-color: #002e69;
        color: #E3170A;
    }
    nav :where(#openMenu,#closeMenu){
        opacity: 1;
        display: block;
        font-size: 1.3rem;
        background-color: transparent;
        border: none;
        color: white;
    }
    nav #closeMenu{
        position: absolute;
        left: 80%;
        top: 30px;
    }
    nav #openMenu{
        position: absolute;
        right: 5%;
        top: 5px;
    }
    .navbar {
        display: block;
        position: fixed;
        width: 300px;
        height: 100%;
        background-color: #002E69;
        color: #fff;
        left: -100%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        transition: left 1s ease;
    }
    .navbar a{
        color: #fff;
        font-size: 1.5rem;
    }
    body.showMenu .navbar{
        left: 0;
        transition: left 1s ease;
    }
    nav .logo {
        width: max-content;
        width: 100%; 
        float: left;
    }
    .logo:hover::after{
        display: none;
    }
    .home-section .home-content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }
    .home-content .home-details{
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
    .home-details{
        max-width: 100%;
    }
    .home-details .head-description{
        text-align: center;
    }
    /*About Section Responsive Styling*/
    .about-section .about-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
     .about-details{
        width: 50%;
    }   
    .
}
@media screen and (max-width:500px){
     nav :where(#openMenu,#closeMenu){
        opacity: 1;
        display: block;
        font-size: 1.3rem;
        background-color: transparent;
        border: none;
    }
    nav #closeMenu{
        position: absolute;
        left: 80%;
        top: 30px;
    }
    nav #openMenu{
        position: absolute;
        right: 5%;
        top: 5px;
    }
    .navbar {
        display: block;
        position: fixed;
        width: 200px;
        height: 100%;
        background-color: #fff;
        left: -100%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        transition: left 1s ease;
    }
    body.showMenu .navbar{
        left: 0;
        transition: left 1s ease;
    }  
}